[submodule "indexer/vcxproj"]
	path = indexer/vcxproj
	url = https://github.com/strandfield/vcxproj.git
[submodule "indexer/libclang-utils"]
	path = indexer/libclang-utils
	url = https://github.com/strandfield/libclang-utils.git
[submodule "exporter/cpptok"]
	path = exporter/cpptok
	url = https://github.com/strandfield/cpptok.git
