
@import "code.css";

.use {
   display: flex;
   margin-bottom: 0.5ex;
}

.ln {
  width: 3em;
  text-align: right;
  margin-right: 0.5em;
}

.code {
  white-space: pre;
}

.here {
  background-color: yellow;
  color: red;
}
